<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% include ./header.ejs %>
    <h1><%= thread_title %></h1>
    <ul>
        <% for(var i=0, len=list.length; i<len; i++) { %>
            <li>
                <div><%= list[i].content %></div>
            </li>
        <% } %>
    </ul>
  </body>
</html>
